@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
	@apply bg-contain bg-repeat;
	background-image: url('https://th.bing.com/th/id/OIG4.P741CXeM38GsCzz3oWw4?w=1024&h=1024&rs=1&pid=ImgDetMain');
}
